<h1>Senarai Tugasan</h1>
<style>
body
{
background-color: white;
}
h1
{
color:black;
font-family:"Jokerman";
text-align: center;
}
p
{
font-size:20px;
color:white;
}

</style>

<div id="top" align="center">
  <table width="50%">
    <tr><td bgcolor="black" align="center"></td></tr>
<tr><a href="\tasks">Task</a></tr>
<a href="\users">User</a>
<%=link_to "Link ke Users menggunakan link_to   " ,users_path %>
<a href="\foodstalls">FoodStall    </a>
</td>
</tr>
<table>
<br>

</div>

<table  border="1" width="50%" align=center>
  <thead>
    <tr>
      <td valign="top" align=center>
        <b>Menu</b>
      <th>Title</th>
      <th>State</th>
      <th colspan="3"></th>
      </td>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Task', new_task_path %>
